<div>
  <h1>mimic-T</h1>
    <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary"%>
    <%= link_to "Login as Sample user", fake_login_path, method: :post,class: "btn btn-lg btn-danger"%>
</div>
