<div class="jumbotron">
  <%= image_tag "kitten.jpg", size: '100%'%>
  <h1>mimic-T</h1>
  <h2>
    This is the home page for the
      <a href="#">caven xu</a>
    mimic-Tlication.
  </h2>
    <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary"%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/'%>
<%#= image_tag("kitten.jpg", alt: "Kitten")%>
