<% provide(:title, "Manage Users")%>

<h1>Manage Users</h1>

<ul class="users">
  <!-- <% @users.each do |user| %>
    <%= render user%>
  <% end %> -->
  <%= render @users %>
</ul>

<%= will_paginate @users, :inner_window => 2 %>
