@import "bootstrap-sprockets";
@import "bootstrap";


// variables mixins etc

$light-grey: #777;
$gray-mediumn-light: #eaeaea;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// miscellaneous

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

// univsersal
body {
  padding-top: 0px;
  max-width: 1600px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

// typography
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

#logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px;
  border-top: 1px solid $gray-mediumn-light;
  color: $light-grey;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// sidebar

aside {
  section.user_info {
    text-align: center;
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      text-align: justify;
      font-size: 1.1em;
      letter-spacing: -1px;
      margin: 10px 0 5px 2px;
    }
    a {
      h1 {
        text-align: center;
      }
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float:left;
    padding: 0 10px;
    margin: 3px;
    color: #3764a8;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: tomato;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

// forms

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// Users index

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// microposts

.home_page_image {
  display: inline-block;
  margin: 4px 2px;
}

img#color_run {
  opacity: 0.85;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
  height:inherit;
  margin-bottom: 20px;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin: 5px 80px 5px 0;
    img {
      display: block;
      padding: 5px 0;
      margin-top: 5px;
    }
  }
  .timestamp {
    color: lightgrey;
    display: block;
    // margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

//
// small version for user icon

a.mini_icon {
  img {
    border-radius: 100%;
  }
}

.hot_post {
  p {
    color: $light-grey
  }
}

// file upload icon

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
}

.collapse_list {
  font-size: 4rem;
  color: tomato;
}

nav {
  width: 100%;
  background: black;
  ul {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    li {
      font-size: 1.6rem;
      display: inline-block;
      list-style: none;
      padding: 10px 30px;
      &:hover {
        background: tomato;
      }
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  font-size: 2em;
    display: none;
}

#dropdown-ul {
  text-align: center;
  li {
    width: 100%;
  }
}

  .post_info {
    padding-top: 10px;
    width: 90%;
    text-align: left;
  }

.post_comments {
  vertical-align: middle;
  padding-top: 3px;
  &:hover {
    cursor: pointer;
  }
}

i#post_likes.material-icons {
  padding-bottom: 8px;
}
#post_likes {
  vertical-align: middle;
  display: inline-block;
}


.comments_body {
  display: none;
  ul {
    text-align: left;
    li {
      list-style: none;
    }
  }
}

.active {
  display: block;
}

#unlogged_image {
  background-image: url('bg-1.png');

}

.existed_icon img {
  background-image: url('8.png');
  background-repeat: no-repeat;
  background-size: contain;
}


// hidden hot posts  ----------------------------------------------------------

@media only screen and (max-width: 1000px) {
  .hot_post {
    display: none;
  }


}


// hidden hot posts  ----------------------------------------------------------

@media only screen and (max-width: 1366px) {

  img#color_run {
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height:inherit;
  }





// hide nav & show toggle button in small screen -------------------------------

@media (max-width: 768px) {

.toggle {
      display: block;
   }
nav {
  ul {
  width: 100%;
  display: none;
  li {
    display: block;
    text-align: center;
  }
 }
}

.active {
  display: block !important;
}


.post_info {
  text-align: justify;
  width: 100%
}
}


}

// xs device ------------------------------------------------------------------

@media only screen and (max-width: 600px) {
  .microposts {
    text-align: center;
    .content {
      margin: 0;
    }
  }
}
